<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
    <body>
        <%- include('partials/navbar') %>

        <div class="historic">
            <% criptos.forEach(cripto=> { %>
                <div id="<%= cripto._id %>">
                    <form method="POST" action="/?_method=DELETE">
                        <h3>
                            <%= cripto.criptoName %>
                        </h3>
                        <div>
                            <%= `Valor Investido: $ ${cripto.investment}` %>
                        </div>
                        <div>
                            <%= `Valor pago por Unidade: $ ${cripto.paidPerUnit}` %>
                        </div>
                        <div>
                            <%= `Quantidade: ${cripto.amount}` %>
                        </div>
                        <div>
                            <%= `USD/BRL: ${cripto.dolarReal}` %>
                        </div>
                        <div>
                            <%= cripto.date %>
                        </div>
                        <input name="id" value="<%= cripto._id %>" hidden>
                        <input name="criptoName" value="<%= cripto.criptoName %>" hidden>
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <% }); %>
        </div>
    </body>
</html>